body {
    background: url(./src/pag_01_fundo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(56, 55, 55);
    text-shadow: 2px 2px 3px black;
}

/*.jajaja {
   background: url(./src/c0f1bcf5-7c56-41d0-93d6-2a010aded3e1.jpg);
} */


::selection {
    background-color: #a8a8a8;
}

h1 {
    color: rgb(245, 245, 245);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 49px;
    text-shadow: 5px 5px 50px #000000;
    text-shadow: 10px 10px px black;
}

.titulo p {
    color: white;
    font-size: 31px;
    font-family: 'Oswald', sans-serif;
    margin: 0 10%;
}

.cartaz {
    display: flex;
}

.cartaz {
    margin-left: 18%;
}

.cartaz .fotodofilme {
    width: 24%;
    border-radius: 0px;
}

.cartaz .descricaodofilme {
    margin-top: 20px;
}

img{
    width: 200px;
    border-radius: 20px;
    transition: 0.2s all;
    
}

.imagens img:hover {
    transform: scale(1.03);
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.imagem_historia {
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
}

#Mario p {
    margin-top: 20px;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 0 9%;
    text-align: justify;
}

.personagem {
    margin-top: 20px;
    text-align: justify;
}

section img {
    float: left;
    margin: 20px 20px 0px 9%;
    width: 40%;
}

.imagem_esquerdo {
    float: right;
    margin: 20px 9% 0px 20px;
    width: 40%;
    box-shadow: 5px 5px 5px black;
    border-radius: 2px;
}

p {
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 0 9%;
    text-align: justify
}

.home img {
    width: 100px;
    display: block;
}

.home p {
    margin: 0;
}

.menu {
    text-align: center;
    margin-right: 90%;
}

.menu img {
    margin-left: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 1px black;
    transition: 0.3s all;
}

a:hover {
    transform: scale(1.03);
}

footer {
    background-color: #6e6e6e;
    margin-top: 55px;
    text-align: center;
}

footer p {
    text-align: center;
}

footer img {
    width: 10%;
}

.fut {
    background: #6e6e6e;
    background-size: 100%;
}

.loguinho {
    cursor:auto;
}

@media screen and (max-width: 480px) {
    *{
        margin: 0px;
        padding: 0;
        width: auto;
    }

    .cartaz {
        margin-left: 18%;
    }
    
    .cartaz .fotodofilme {
        width: 45%;
        height: 45%;
        border-radius: 0px;
        float: left;
        margin-left: -55px;
        margin-top: 50px;
    }
    
    .cartaz .descricaodofilme {
        margin-top: 20px;
        font-size: 16px;
        text-align: left;
    }

    img{
        width: 200px;
        border-radius: 20px;
        transition: 0.2s all;
        
    }
    
    .imagens img:hover {
        transform: scale(1.03);
    }
    
    .imagens {
        align-items: center;
        display: flex;
        gap: 10px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px
    }

    #Mario p {
        font-size: 15px;
    }

    .menu a {
        font-size: 10px;
    }

    .menu  img {
        width: 25px;
    }

    section img {
        float: left;
        margin: 20px 20px 0px 9%;
        width: 40%;
    }
    
    .imagem_esquerdo {
        float: right;
        margin: 20px 9% 0px 20px;
        width: 40%;
        box-shadow: 5px 5px 5px black;
        border-radius: 2px;
    }

    .DonkeyKong {
        margin-left: 30px;
    }

    footer {
        background: #6e6e6e;
        background-size: 100%;
    }
        
    footer img {
        cursor:auto;
        width: 30%;
    }

    footer  p {
        color: rgb(15, 15, 15);

    }
}